* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

._conteiner {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 0 calc(30px / 2);
}
@media (max-width: 1339.98px) {
  ._conteiner {
    max-width: 1100px;
  }
}
@media (max-width: 991.98px) {
  ._conteiner {
    max-width: 970px;
  }
}
@media (max-width: 767.98px) {
  ._conteiner {
    max-width: 750px;
  }
}
@media (max-width: 479.98px) {
  ._conteiner {
    max-width: none;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.header {
  z-index: 2;
  padding: 15px 0;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header::before {
  z-index: 3;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}
@media (max-width: 610px) {
  .header__conteiner {
    height: 76px;
  }
}
.header__body {
  position: relative;
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.header__logo {
  position: relative;
  flex: 53px 0 0;
  z-index: 4;
  margin-right: 35px;
}
.header__logo__Img1 {
  width: 53px;
  height: 51px;
}
.header__logo__Img2 {
  position: absolute;
  bottom: 5px;
  right: -15px;
  width: 48px;
  height: 46px;
}
@media (max-width: 610px) {
  .header__logo {
    left: 45%;
    transform: translateX(-50%);
  }
}
@media (max-width: 210px) {
  .header__logo {
    left: 40%;
  }
}
.header__nav {
  z-index: 4;
}
.header__ul {
  display: flex;
  align-items: center;
}
.header__li {
  margin-left: 30px;
}
.header__link {
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
}
@media (max-width: 767.98px) {
  .header__link {
    font-size: calc(10px + 5.1 * ((100vw - 320px) / 1250));
  }
}
@media (min-width: 767.98px) {
  .header__link {
    font-size: calc(10px + 3 * (100vw / 1250));
  }
}
.header__link::before {
  transition: 0.3s;
  content: "";
  position: absolute;
  bottom: -2px;
  left: -2px;
  height: 2px;
  width: 0%;
  background: white;
}
.header__link:hover::before {
  width: 100%;
}
.header__searchtab {
  transform: translateY(3px);
  z-index: 3;
  position: absolute;
  right: 0;
  display: flex;
}
.header__searchtab__Magnifier {
  position: relative;
}
.header__searchtab__imgMagnifier {
  cursor: pointer;
  width: 25px;
  height: 24px;
  margin-right: 25px;
}
@media (max-width: 350px) {
  .header__searchtab__imgMagnifier {
    margin-right: 10px;
  }
}
.header__searchtab__Magnifier__poisk {
  position: absolute;
  top: 1px;
  right: 55px;
  width: 0;
  height: 20px;
  background: white;
  transition: 0.5s;
}
.header__searchtab__Magnifier__poisk._active {
  content: "";
  position: absolute;
  width: 150px;
  background: white;
}
.header__searchtab__shop {
  cursor: pointer;
  height: 100;
  display: flex;
  align-items: flex-start;
}
.header__searchtab__shop__imgShop {
  width: 14px;
  height: 16px;
  margin-right: 5px;
}
.header__searchtab__shop__price {
  transform: translateY(3px);
  font-size: 13px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
}

.burger {
  display: none;
  z-index: 3;
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.subheader {
  z-index: 1;
}
.subheader__wrapper {
  z-index: 1;
}
.subheader__slider1Img {
  height: 758px;
  position: relative;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1349px) {
  .subheader__slider1Img {
    -o-object-fit: fill;
       object-fit: fill;
  }
}
@media (max-width: 636px) {
  .subheader__slider1Img {
    height: 358px;
  }
}
@media (max-width: 284px) {
  .subheader__slider1Img {
    height: 263px;
  }
}
.subheader__sliderBut {
  font-family: "Proxima Nova Extrabold";
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  padding: 17px 32.5px;
  background-color: #000000;
  border: none;
  cursor: pointer;
  position: absolute;
  transition: 0.4s ease-in-out;
}
@media (max-width: 767.98px) {
  .subheader__sliderBut {
    font-size: calc(9px + 8.5 * ((100vw - 320px) / 1250));
  }
}
@media (min-width: 767.98px) {
  .subheader__sliderBut {
    font-size: calc(9px + 5 * (100vw / 1250));
  }
}
.subheader__sliderBut:hover {
  color: #000000;
  background: #fff;
}
@media (max-width: 608px) {
  .subheader__sliderBut {
    padding: 11px 21.5px;
  }
}
@media (max-width: 284px) {
  .subheader__sliderBut {
    padding: 11px 11.5px;
  }
}
.subheader__slider1 {
  position: relative;
}
.subheader__slider1But {
  top: 70%;
  left: 53.5%;
}
.subheader__slider2But {
  top: 78%;
  left: 51.5%;
}
.subheader__slider2Img {
  height: 758px;
  position: relative;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1349px) {
  .subheader__slider2Img {
    -o-object-fit: fill;
       object-fit: fill;
  }
}
@media (max-width: 636px) {
  .subheader__slider2Img {
    height: 358px;
  }
}
@media (max-width: 300px) {
  .subheader__slider2Img {
    height: 263px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

@media (max-width: 610px) {
  html._active {
    overflow: hidden;
  }

  .header__nav {
    z-index: 1;
  }

  .header__ul {
    overflow: auto;
    z-index: 1;
    background: #192b4f;
    position: fixed;
    left: 0;
    height: 1px;
    width: 100%;
    display: block;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    top: 0;
    opacity: 0;
    visibility: hidden;
    padding: 120px 0px 0 0;
  }

  .header__nav._active .header__ul {
    opacity: 1;
    visibility: visible;
    height: 100vh;
    transition: 0.6s height ease;
  }

  .header__li {
    margin-bottom: 20px;
  }

  .header__nav._active .header__li {
    opacity: 1;
    visibility: visible;
  }

  .header__link {
    font-size: 36px;
  }

  .burger {
    position: relative;
    width: 30px;
    height: 30px;
    display: block;
    background: none;
    transform: translateY(-53px);
  }
  .burger::before, .burger::after {
    transition: 0.6s;
    z-index: 3;
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #ffffff;
  }
  .burger::after {
    bottom: 0;
  }
  .burger__span {
    z-index: 3;
    background: #ffffff;
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 14px;
  }
  .burger._active .burger__span {
    height: 0;
  }
  .burger._active::after {
    transform: rotate(45deg) translate(-5px, -13px);
  }
  .burger._active::before {
    transform: rotate(-45deg) translate(-5px, 13px);
  }
}
@font-face {
  font-family: "Proxima Nova Extrabold";
  src: url("../fonts/proxima_nova_extrabold.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/proxima_nova_extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima_nova_extrabold.woff2") format("woff2"), url("../fonts/proxima_nova_extrabold.woff") format("woff"), url("../fonts/proxima_nova_extrabold.ttf") format("truetype"), url("../fonts/proxima_nova_extrabold.svg#proxima_nova_extrabold") format("svg");
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proxima_nova_condensed_light.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/proxima_nova_condensed_light.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima_nova_condensed_light.woff2") format("woff2"), url("../fonts/proxima_nova_condensed_light.woff") format("woff"), url("../fonts/proxima_nova_condensed_light.ttf") format("truetype"), url("../fonts/proxima_nova_condensed_light.svg#proxima_nova_condensed_light") format("svg");
  /* Chrome < 4, Legacy iOS */
}
body {
  font-family: "Proxima Nova";
}

.titel {
  font-family: "Proxima Nova Extrabold";
  font-size: 48.1px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.main {
  background: #fff;
}
.main_conteiner {
  width: 100%;
}
.snowboards__body {
  padding: 0 15px;
  text-align: center;
  margin-top: 155px;
}
.snowboards__pop-up {
  display: flex;
  justify-content: center;
}
.snowboards__titel {
  margin-bottom: 38px;
}
@media (max-width: 767.98px) {
  .snowboards__titel {
    font-size: calc(23.1px + 42.5 * ((100vw - 320px) / 1250));
  }
}
@media (min-width: 767.98px) {
  .snowboards__titel {
    font-size: calc(23.1px + 25 * (100vw / 1250));
  }
}
.snowboards__subtitel {
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  color: #000000;
  margin-bottom: 180px;
  padding-bottom: 40px;
}
@media (max-width: 767.98px) {
  .snowboards__subtitel {
    font-size: calc(11.1px + 5.1 * ((100vw - 320px) / 1250));
  }
}
@media (min-width: 767.98px) {
  .snowboards__subtitel {
    font-size: calc(11.1px + 3 * (100vw / 1250));
  }
}
.snowboards__subtitel::before {
  width: 36px;
  height: 2.4px;
  content: "";
  background: #000;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}
.snowboards__subtitel::after {
  width: 36px;
  height: 2.4px;
  content: "";
  background: #000;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
}
.snowboards__slider {
  -o-object-fit: fill;
     object-fit: fill;
}
@media (min-width: 2280px) {
  .snowboards__slider {
    width: 300px;
  }
}
@media (min-width: 1401px) {
  .snowboards__slider {
    width: 250px;
  }
}
.snowboards__text {
  font-family: "Proxima Nova";
  text-align: center;
  margin: 60px 0 215px 0;
  font-weight: 600;
  text-transform: uppercase;
  color: #000000;
}
@media (max-width: 767.98px) {
  .snowboards__text {
    font-size: calc(16px + 13.6 * ((100vw - 320px) / 1250));
  }
}
@media (min-width: 767.98px) {
  .snowboards__text {
    font-size: calc(16px + 8 * (100vw / 1250));
  }
}

.swiper-slide {
  position: relative;
}

.swiper-button-prev::after {
  position: absolute;
  left: 1px;
  opacity: 0.5;
  font-size: 227px;
  color: #808080;
}
@media (max-width: 526px) {
  .swiper-button-prev::after {
    display: none;
  }
}

.swiper-button-next::after {
  opacity: 0.5;
  position: absolute;
  right: 1px;
  font-size: 227px;
  color: #808080;
}
@media (max-width: 526px) {
  .swiper-button-next::after {
    display: none;
  }
}

.MountainsSnowboarding {
  background: url(../img/MountainsSnowboarding\ .png) no-repeat 0 0/cover;
  min-height: 954px;
  position: relative;
}
.MountainsSnowboarding__conteiner {
  max-width: 980px;
  margin: 0 auto;
}
.MountainsSnowboarding__body {
  padding: 250px 30px 20px 30px;
}
.MountainsSnowboarding__titel {
  max-width: 535px;
  color: #fff;
}
@media (max-width: 767.98px) {
  .MountainsSnowboarding__titel {
    font-size: calc(20.1px + 47.6 * ((100vw - 320px) / 1250));
  }
}
@media (min-width: 767.98px) {
  .MountainsSnowboarding__titel {
    font-size: calc(20.1px + 28 * (100vw / 1250));
  }
}
@media (max-width: 540px) {
  .MountainsSnowboarding__titel {
    text-align: center;
  }
}
.MountainsSnowboarding__paragraphs {
  max-width: 595px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;
}
@media (max-width: 767.98px) {
  .MountainsSnowboarding__paragraphs {
    font-size: calc(11px + 6.8 * ((100vw - 320px) / 1250));
  }
}
@media (min-width: 767.98px) {
  .MountainsSnowboarding__paragraphs {
    font-size: calc(11px + 4 * (100vw / 1250));
  }
}
.MountainsSnowboarding__paragraphs__p1 {
  margin-top: 80px;
  margin-bottom: 46px;
}
.Features__conteiner {
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.Features__titel {
  margin-top: 125px;
  position: relative;
  text-align: center;
  margin-bottom: 95px;
  padding-bottom: 60px;
}
@media (max-width: 767.98px) {
  .Features__titel {
    font-size: calc(25.1px + 39.1 * ((100vw - 320px) / 1250));
  }
}
@media (min-width: 767.98px) {
  .Features__titel {
    font-size: calc(25.1px + 23 * (100vw / 1250));
  }
}
.Features__titel::before {
  width: 36px;
  height: 2.4px;
  content: "";
  background: #000;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}
.Features__titel::after {
  width: 36px;
  height: 2.4px;
  content: "";
  background: #000;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
}
.Features__ribbon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.Features__ribbon__img {
  margin-bottom: 10px;
}
.Features__ribbon__img:hover .Features__ribbon__article {
  max-height: 100%;
}
.Features__ribbon__img img {
  max-width: 220px;
}
@media (max-width: 248px) {
  .Features__ribbon__img img {
    max-width: 170px;
  }
}
.Features__ribbon__article {
  overflow: hidden;
  transition: 0.4s ease-in;
  width: 220px;
  line-height: 30px;
  font-weight: 600;
  color: #000000;
  max-height: 150px;
}
@media (max-width: 767.98px) {
  .Features__ribbon__article {
    font-size: calc(14px + 10.2 * ((100vw - 320px) / 1250));
  }
}
@media (min-width: 767.98px) {
  .Features__ribbon__article {
    font-size: calc(14px + 6 * (100vw / 1250));
  }
}
@media (max-width: 248px) {
  .Features__ribbon__article {
    max-width: 170px;
    line-height: 15px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.go {
  position: relative;
  left: -34px;
  width: 58px;
  height: 42px;
  background-color: #c7c7c7;
  font-family: "Proxima Nova - Extrabld";
  font-size: 15px;
  line-height: 30px;
  font-weight: 1000;
  text-transform: uppercase;
  display: inline-block;
  color: #010101;
  text-align: center;
  padding-top: 5px;
}
@media (max-width: 471px) {
  .go {
    display: none;
  }
}

.spoiler__li input {
  border: none;
  margin-top: 15px;
  padding-right: 5px;
  outline: none;
  min-height: 42px;
  padding-left: 10px;
  width: 170px;
}
@media (max-width: 471px) {
  .spoiler__li input {
    display: none;
  }
}

.spoiler__li input::-moz-placeholder {
  font-family: "Proxima Nova";
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #6c6c6c;
}

.spoiler__li input:-ms-input-placeholder {
  font-family: "Proxima Nova";
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #6c6c6c;
}

.spoiler__li input::placeholder {
  font-family: "Proxima Nova";
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #6c6c6c;
}

.spoiler {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 78px;
  margin-bottom: 70px;
}
@media (max-width: 471px) {
  .spoiler {
    padding-top: 48px;
    display: block;
    margin-bottom: 40px;
  }
}
.spoiler__item {
  margin-right: 15px;
}
.spoiler__but {
  font-family: "Proxima Nova - Extrabld";
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
}
@media (max-width: 767.98px) {
  .spoiler__but {
    font-size: calc(11px + 10.2 * ((100vw - 320px) / 1250));
  }
}
@media (min-width: 767.98px) {
  .spoiler__but {
    font-size: calc(11px + 6 * (100vw / 1250));
  }
}
@media (max-width: 471px) {
  .spoiler__but {
    padding-left: 30px;
  }
  .spoiler__but::after, .spoiler__but::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 1px;
    background: #fff;
    top: 15px;
    transition: transform 0.5s;
  }
  .spoiler__but::before {
    transform: rotate(40deg);
    left: 0;
  }
  .spoiler__but::after {
    transform: rotate(-40deg);
    left: 7.5px;
  }
  .spoiler__but._open::before {
    transform: rotate(-40deg);
  }
  .spoiler__but._open::after {
    transform: rotate(40deg);
  }
}
.spoiler__text {
  font-family: "Proxima Nova";
  line-height: 30px;
  text-transform: none;
  color: #c9c9c9;
}
@media (max-width: 767.98px) {
  .spoiler__text {
    font-size: calc(11px + 5.1 * ((100vw - 320px) / 1250));
  }
}
@media (min-width: 767.98px) {
  .spoiler__text {
    font-size: calc(11px + 3 * (100vw / 1250));
  }
}
@media (max-width: 471px) {
  .spoiler__text {
    transition: 0.5s ease-in-out;
    max-height: 0;
    overflow: hidden;
  }
}
.spoiler__socialNetworUl {
  max-width: 218px;
  margin-top: 22px;
  gap: 15px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .spoiler__logo {
    font-size: calc(17px + 5.1 * ((100vw - 320px) / 1250));
  }
}
@media (min-width: 767.98px) {
  .spoiler__logo {
    font-size: calc(17px + 3 * (100vw / 1250));
  }
}
@media (max-width: 471px) {
  .spoiler__logo {
    font-size: 24px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.footer {
  margin-top: 140px;
  background: #000;
}
.footer__conteiner {
  max-width: 1010px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.userEmailGlav,
.goGlav {
  display: none;
}
@media (max-width: 471px) {
  .userEmailGlav,
.goGlav {
    display: block;
  }
}

@media (max-width: 471px) {
  .userEmailGlav {
    padding-right: 5px;
    outline: none;
    min-height: 42px;
    padding-left: 10px;
    width: 200px;
    min-width: 100px;
  }
  .userEmailGlav::-moz-placeholder {
    font-family: "Proxima Nova";
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    color: #6c6c6c;
  }
  .userEmailGlav:-ms-input-placeholder {
    font-family: "Proxima Nova";
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    color: #6c6c6c;
  }
  .userEmailGlav::placeholder {
    font-family: "Proxima Nova";
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    color: #6c6c6c;
  }
}

@media (max-width: 471px) {
  .goGlav {
    position: relative;
    left: -1px;
    width: 58px;
    height: 42px;
    background-color: #c7c7c7;
    font-family: "Proxima Nova - Extrabld";
    font-size: 15px;
    line-height: 30px;
    font-weight: 1000;
    text-transform: uppercase;
    display: inline-block;
    color: #010101;
    text-align: center;
    padding-top: 5px;
  }
}
@media (max-width: 301px) {
  .goGlav {
    display: none;
  }
}

.EmailGlav {
  display: none;
}
@media (max-width: 471px) {
  .EmailGlav {
    display: block;
    height: 42px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
}

.Change {
  padding-bottom: 65px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 360px) {
  .Change {
    justify-content: center;
  }
}
.Change__item {
  display: flex;
  align-items: center;
  gap: 12px;
}
.Change__imgUsa {
  width: 14px;
  height: 10px;
  flex: 14px 0 0;
}
.Change__text {
  letter-spacing: 2px;
  line-height: 30px;
  font-weight: 600;
  color: #ffffff;
}
@media (max-width: 767.98px) {
  .Change__text {
    font-size: calc(12px + 3.4 * ((100vw - 320px) / 1250));
  }
}
@media (min-width: 767.98px) {
  .Change__text {
    font-size: calc(12px + 2 * (100vw / 1250));
  }
}

.mauntainsText {
  letter-spacing: 2px;
  line-height: 30px;
  font-weight: 600;
  color: #ffffff;
}
@media (max-width: 767.98px) {
  .mauntainsText {
    font-size: calc(12px + 3.4 * ((100vw - 320px) / 1250));
  }
}
@media (min-width: 767.98px) {
  .mauntainsText {
    font-size: calc(12px + 2 * (100vw / 1250));
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body._lock {
  overflow: hidden;
}

.pop-up {
  z-index: 100;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.pop-up._open {
  transition: background 0.2s ease;
  background: rgba(0, 0, 0, 0.808);
  opacity: 1;
  visibility: visible;
}
.pop-up._open .pop-up__content {
  transform: scale(1);
}
.pop-up__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
}
.pop-up__content {
  transition: all 0.3s ease-in;
  transform: scale(0);
  position: relative;
  background: #fff;
  color: #000;
  max-width: 600px;
  padding: 30px;
}
.pop-up__content-img {
  background: none;
  padding: 0;
}
.pop-up__content-img img {
  position: relative;
}
@media (min-width: 2200px) {
  .pop-up__content-img img {
    width: 320px;
    height: 800px;
  }
}
@media (max-width: 2199px) {
  .pop-up__content-img img {
    width: 290px;
    height: 650px;
  }
}
@media (max-width: 1753px) {
  .pop-up__content-img img {
    width: 220px;
    height: 600px;
  }
}
@media (max-width: 991.98px) {
  .pop-up__content-img img {
    width: 240px;
    height: 520px;
  }
}
@media (max-width: 250px) {
  .pop-up__content-img img {
    width: 190px;
    height: 420px;
  }
}
@media (max-height: 449px) {
  .pop-up__content-img img {
    width: 180px;
    height: 360px;
  }
}
@media (max-height: 400px) {
  .pop-up__content-img img {
    width: 100px;
    height: 240px;
  }
}
.pop-up__close {
  padding-right: 10px;
  position: absolute;
  top: -15px;
  right: -20px;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}
.pop-up__titel {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
.pop-up__text {
  font-size: 18px;
}